* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game-whole-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
}
.main-world {
    width: 100%; 
}

.cell-contaniner{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tools-bar {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* height: 100%;
    position: relative;
    padding-left: 2rem;
    left: -41%;
    z-index: 50; */
}

.tool{
    width: 110px;
    height: 110px;
    padding: 20px 10px;
    cursor: pointer;
    align-self: center;
    justify-content: center;


}
.pickaxe{
    background: url(./Assets/Untitled\ design\ \(25\).png) no-repeat center center/cover;
}
.axe{
    background: url(./Assets/axe.png) no-repeat center center/cover;
}
.shovel{
    background: url(./Assets/shovel.png) no-repeat center center/cover;
}
.box{
    background: url(./Assets/chestbox.gif) no-repeat center center/cover;
}
.row{
    width: 100%;
    display: flex;
  
}
.cell{
    width: 20px;
    height: 20px;
}
.cell:hover{
    border: 1px #fff solid;
}

.sky {
    background-color: rgb(109, 196, 231);
}

.wood {
    background: url(./Assets/treebark.jpeg) no-repeat center center/cover;}

.gold {
    background: url(./Assets/gold.jpeg) no-repeat center center/cover;
}

.diamond {
    background: url(./Assets/diamond.jpeg) no-repeat center center/cover;
}

.leaves {
    background: url(./Assets/treeleaf.jpeg) no-repeat center center/cover;
}

.stone {
    background: url(./Assets/stone.jpeg) no-repeat center center/cover;}

.grass {
    background: url(./Assets/grass-soil.jpeg) no-repeat center center/cover;}
.dirt {
    background: url(./Assets/soil02.jpeg) no-repeat center center/cover;}

 